@font-face {
  font-family: 'The matter';
  src: url('../fonts/thematter-bold.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Noto san thai medium';
  src: url('../fonts/NotoSansThai-Medium.ttf');
}

@font-face {
  font-family: 'Noto san medium';
  src: url('../fonts/NotoSans-Medium.ttf');
}
